@using System.Threading
@using SwitchLanguage.MVC.Helper

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Ajax Controls Test</a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "DropDown")">AjaxDropDown</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "DataTable")">AjaxDataTable</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "DataTableServer")">AjaxDataTable (server side)</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName.ToLower() == "de")
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.SwitchLanguageUrl("de")"><b>DE</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.SwitchLanguageUrl("en")">EN</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.SwitchLanguageUrl("de")">DE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.SwitchLanguageUrl("en")"><b>EN</b></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content pt-3">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meine ASP.NET-Anwendung</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
